body {
    text-align: center;
    background-color: #282c34;
    color: white;
  }
  
  .logo {
    height: 40vmin;
    pointer-events: none;
  }
  
  @media (prefers-reduced-motion: no-preference) {
    .logo {
      animation: logo-spin infinite 20s linear;
    }
  }
  
  .header {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
  }
  
  .link {
    color: #61dafb;
    margin: 1%;
  }
  
  @keyframes logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  
  .navbar-logo {
    height: 8vmin;
    pointer-events: none;
  }
  
  @media (prefers-reduced-motion: no-preference) {
    .navbar-logo {
      animation: logo-spin infinite 20s linear;
    }
  }
  
  .card-title {
    color: #111111;
  }
  
  .card-text {
    color: #111111;
  }
  
  .card-body a {
    margin-left: 1%;
  }
  
  .mb-3 {
    width: 300px;

  }
  